.bg-dark {
  background-color: #5f0000!important;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 1rem;
  font-size: 30px;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 22px;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #ffe000;
}
