.ourForm {
  background-color: white;
  padding: 85.5px 30px;
  border: 1px solid #ddd;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 9px 4px 17px -10px #000;
  text-align: right;
}

.logForm {
  margin: 4.25% auto;
}

.logo img {
  width: 100%;
}

.box-shdow {
  box-shadow: -7px 5px 17px -10px #000;
}

.holder {
  position: relative;
}

.vert {
  margin: auto 0;
}

.kar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.kar img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-primary, .btn-outline-primary {
  background-color: #5f0000!important;
  color: #fff;
  border: 0;
}
