<app-spinner *ngIf="loading"></app-spinner>
<div class="container logForm" *ngIf="!loading">
  <div class="row my-3">
    <div class="col-md-2 col-12 p-0"></div>
    <div class="col-md-4 col-12 ourForm">
      <div class="row holder">
        <div class="col-md-5 col-12 vert">
          <h3 class="my-auto">مرحبا بك</h3>
        </div>
        <div class="col-md-7 col-12 logo">
          <img src="../../../assets/logo.png" class="w-100" alt="logo" />
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row mt-3">
          <div class="col-12">
            <div class="form-group">
              <input
                type="text"
                maxLength="14"
                minLength="14"
                [class]="
                  (!form.controls.nationalId.valid &&
                    form.controls.nationalId.touched) ||
                  !controlIsRight
                    ? 'outline-danger form-control'
                    : 'form-control outline-normal'
                "
                placeholder="* الرقم القومى"
                formControlName="nationalId"
                (change)="checkNumber($event)"
              />
            </div>
            <p class="text-danger" *ngIf="!controlIsRight">
              هذا الرقم القومى غير صحيح
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12" *ngIf="messageSent">
            <p class="text-primary">تم ارسال ايميل به رمز دخول مؤقت</p>
          </div>
          <div class="col-12 mt-2">
            <button
              type="submit"
              [disabled]="form.invalid || !controlIsRight"
              class="btn btn-primary w-100"
            >
              ارسال
            </button>
          </div>
          <div class="col-12 my-2">
            الرجوع؟
            <a class="text-primary cursor" routerLink="/Login">تسجيل الدخول</a>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-12 p-0">
      <img src="../../../assets/karnak.jpg" class="w-100 h-100" alt="karnak" />
    </div>
    <div class="col-md-2 col-12 p-0"></div>
  </div>
</div>
