.card {
  max-height: 300px;
  min-height: 300px;
  height: 300px;
}

.card-img-top {
  max-height: 150px;
  min-height: 150px;
  height: 150px;
}

.search-list {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #6e6e6e;
  padding: 10px;
}

.MealsContainer {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #6e6e6e;
  border-radius: 5px;
}

.btn-warning, .btn-outline-primary {
  background-color: #5f0000!important;
  color: #fff;
  border: 0;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0;
}
