<div class="container-fluid">
  <div class="row mx-3">
    <div
      class="col-lg-4"
      data-aos="fade-down"
      data-aos-delay="0"
      data-aos-duration="700"
    >
      <div class="statCArd">
        <div class="row h-100">
          <div class="col-lg-8 col-12 cardTexts">
            <h3 class="">المبيعات</h3>
            <p class="h1 text-dark my-5" *ngIf="stats">
              {{ stats.countTransactionDone }}
            </p>
          </div>
          <div
            data-aos="fade-in"
            data-aos-delay="800"
            data-aos-duration="700"
            class="col-lg-4 col-12 lastDonate"
          >
            <i class="fa fa-money-bill-wave-alt"> </i>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4"
      data-aos="fade-down"
      data-aos-delay="500"
      data-aos-duration="700"
    >
      <div class="statCArd">
        <div class="row h-100">
          <div class="col-lg-8 col-12 cardTexts">
            <h3 class="">عدد الوجبةات</h3>
            <p class="h1 text-dark my-5" *ngIf="stats">
              {{ stats.countProduct }}
            </p>
          </div>
          <div
            data-aos="fade-in"
            data-aos-delay="1200"
            data-aos-duration="700"
            class="col-lg-4 col-12 yellow"
          >
            <i class="fa fa-store"> </i>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4"
      data-aos="fade-down"
      data-aos-delay="250"
      data-aos-duration="700"
    >
      <div class="statCArd">
        <div class="row h-100">
          <div class="col-lg-8 col-12 cardTexts">
            <h3 class="">عدد المستخدمين</h3>
            <p class="h1 text-dark my-5" *ngIf="stats">
              {{ stats.countUserWebsite }}
            </p>
          </div>
          <div
            data-aos="fade-in"
            data-aos-delay="1000"
            data-aos-duration="700"
            class="col-lg-4 col-12 Quantity"
          >
            <i class="fa fa-user"> </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
