<app-spinner *ngIf="loading"></app-spinner>

<div class="container logForm" *ngIf="!loading">
  <div class="row my-3">
    <div class="col-md-4 mx-auto col-12 ourForm">
      <div class="row holder">
        <div class="col-12 vert">
          <h3 class="my-auto text-center">تغيير كلمة المرور</h3>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row mt-3">
          <div class="col-12">
            <div class="form-group">
              <input
                type="password"
                [class]="
                  !form.controls.oldPassword.valid &&
                  form.controls.oldPassword.touched
                    ? 'outline-danger form-control'
                    : 'form-control outline-normal'
                "
                placeholder="* كلمة المرور القديمة"
                formControlName="oldPassword"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <input
                type="password"
                [class]="
                  !form.controls.newPassword.valid &&
                  form.controls.newPassword.touched
                    ? 'outline-danger form-control'
                    : 'form-control outline-normal'
                "
                placeholder="* كلمة المرور الجديدة"
                formControlName="newPassword"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <input
                type="password"
                (keyup)="checkPassword(confirmPassword)"
                [class]="
                  passwordConfirmed
                    ? 'outline-danger form-control'
                    : 'form-control outline-normal'
                "
                placeholder="* تأكيد كلمة المرور الجديدة"
                #confirmPassword
              />
            </div>
            <p class="text-danger" *ngIf="passwordConfirmed">
              كلمة المرور غير متطابقة
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12" *ngIf="messageSent">
            <p class="text-primary">تم ارسال ايميل به رمز دخول مؤقت</p>
          </div>
          <div class="col-12 mt-2">
            <button type="submit" class="btn btn-primary w-100">تغيير</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
