/* You can add global styles to this file, and also import other style files */

@import "~ngx-toastr/toastr";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  background-image: url('./assets/dddBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode: overlay;
  background-color: #1b1b1b!important; */
}

.cursor-pointer {
  cursor: pointer;
}

.outline-danger {
  border-color: red!important;
  box-shadow: 0 0 4px 0 red;
}

.toast-container {
  margin-top: 20px;
}

* {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
  text-align: right;
}

.titles {
  color: #fff;
}

p {
  color: #fff;
}
